@use "../../styles" as *;

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  padding: 5px;
  border-radius: $mainBorderRadius;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  color: $mainTextColor;
  width: 90%;
  max-width: 500px;
  height: 210px;
}
