.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 500px;
  height: auto;
  transition: 0.5s;
  margin: 4px auto;
  color: #fff;
  font-size: 1.1rem;
  background: linear-gradient(
    90deg,
    rgb(218, 136, 78) 0%,
    rgb(226, 85, 30) 100%
  );
  padding: 13px;
  border-radius: 5px;
  width: 90%;

  &:nth-child(4n + 2) {
    background: linear-gradient(
      90deg,
      rgb(89, 180, 135) 0%,
      rgb(73, 131, 92) 100%
    );
  }
  &:nth-child(4n + 3) {
    background: linear-gradient(
      90deg,
      rgb(190, 125, 187) 0%,
      rgb(184, 48, 120) 100%
    );
  }
  &:nth-child(4n + 4) {
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgb(16, 98, 206) 100%
    );
  }
}

.complete {
  transition: 0.5s;
  text-decoration: line-through;
  opacity: 0.4;
}

.icons {
  width: auto;
  font-size: 32px;
  cursor: pointer;

  .delete-icon {
    color: #fff;
    transition: ease 0.3s;
    &:hover {
      color: rgb(231, 0, 0);
    }
  }

  .edit-icon {
    color: #fff;
    transition: ease 0.3s;
    &:hover {
      color: rgb(255, 225, 57);
    }
  }

  .complete-icon {
    color: #fff;
    transition: ease 0.3s;
    @media (min-width: 768px) {
      &:hover {
        color: rgb(12, 250, 28);
      }
    }
  }
}

.complete .complete-icon {
  color: rgb(12, 250, 28);
  opacity: 1;
}

.display-text-group {
  max-width: 350px;
  height: auto;
  text-align: left;
  word-wrap: break-word;
  @media (max-width: 600px) {
    max-width: 250px;
  }
  span {
    word-wrap: break-word;
    text-align: left;
  }
}

.read-more-button {
  text-align: left;
  font-size: 14px;
  color: white;
  transition: 0.3s ease;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
