.todo-form {
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  @media (max-width: 600px) {
    width: 90%;
  }
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid white;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;

  &::placeholder {
    color: #e2e2e2;
    font-size: 1.2rem;
  }

  // SPRAWDZIĆ DO CZEGO TO BYLO
  .edit {
    border: 2px solid #149fff;
  }
}

.todo-button {
  position: relative;
  font-size: 1.2rem;
  padding: 11px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(37, 117, 192) 0%,
    rgb(80, 164, 185) 100%
  );
  color: #fff;
  text-transform: capitalize;
  transition: all 0.3s ease;

  &:hover {
    background: rgb(185, 140, 183);
  }

  svg {
    font-size: 22px;
  }

  // SPRAWDZIĆ DO CZEGO TO BYLO
  .edit {
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
    padding: 16px 22px;
    color: red;
  }
}

.update {
  font-size: 20px;
  transform: translate(0, 2px);
  padding: 12px;
}

.pink {
  background: linear-gradient(
    90deg,
    rgb(209, 103, 160) 0%,
    rgb(238, 172, 207) 100%
  );
}
