.settings-icon {
  position: relative;
  top: 0;
  text-align: right;
  margin: 5px 10px;
  z-index: 0;
}

.settings-icon svg {
  color: white;
  font-size: 35px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.settings-icon svg:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 600px) {
  .settings-icon svg {
    top: -10px;
    margin-left: 5px;
  }
}

.settings {
  position: relative;
  top: 10px;
  left: 100%;
  width: 0;
  height: 180px;
  overflow: hidden;
  -webkit-transform: scale(0);
          transform: scale(0);
  margin-bottom: -160px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #fff;
  text-transform: uppercase;
  background-image: url("../../../images/bgBlue.jpg");
}

@media (max-width: 768px) {
  .settings {
    font-size: 25px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .settings svg {
    font-size: 25px;
  }
  .settings .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  .settings .location p {
    margin: 0 5px;
  }
}

@media (max-width: 768px) and (max-width: 600px) {
  .settings .location p {
    display: none;
  }
}

.settings img {
  border: 1px solid white;
  border-radius: 50%;
  background-color: white;
  height: 25px;
  margin: 5px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.settings img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 600px) {
  .settings img {
    height: 25px;
    margin: 5px;
  }
}

.settings button {
  width: 40px;
  height: 40px;
  font-size: 30px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  outline: none;
  background: -webkit-gradient(linear, left top, right top, from(#2575c0), to(#50a4b9));
  background: linear-gradient(90deg, #2575c0 0%, #50a4b9 100%);
  color: #fff;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.settings button:hover {
  background: #b98cb7;
}

.settings.active {
  width: 140px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

@media (max-width: 768px) {
  .settings {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    top: 0;
    left: auto;
    width: 100%;
    height: 0;
    border: 2px solid white;
    margin-bottom: auto;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    color: #fff;
    text-transform: uppercase;
    background-image: url("../../../images/bgBlue.jpg");
  }
  .settings div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px;
    width: 33%;
  }
  .settings p {
    font-size: 12px;
  }
  .settings.active {
    height: 60px;
    width: 100%;
  }
}
/*# sourceMappingURL=Settings.css.map */