.settings-icon {
  position: static;
  text-align: right;
  margin: 10px;
}

.settings-icon svg {
  color: white;
  font-size: 35px;
  cursor: pointer;
  transition: 0.5s;
}

.settings-icon svg:hover {
  color: rgb(185, 140, 183);
}

.settings img {
  border: 1px solid white;
  border-radius: 50%;
  padding: -3px;
  background-color: white;
  height: 25px;
  margin: 5px;
}

.settings p {
  padding-top: 5px;
  width: 100%;
}

.settings {
  position: relative;
  z-index: -1;
  top: -50px;
  left: 360px;
  width: 160px;
  height: 125px;
  margin-bottom: -120px;
  border-bottom-right-radius: 8px;
  transition: 0.4s ease;
  color: #fff;
  text-transform: uppercase;
  background-image: url("../images/bgBlue.jpg");
}

.settings.active {
  width: 160px;
  transform: translateX(160px);
  cursor: pointer;
  z-index: -1;
}

.settings.active.index {
  z-index: 1;
}
