$gradient: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
$bgColor: #ffffff;
$bgColorCard: #ffffff;

$mainTextColor: #ffffff;

$mainBorderRadius: 10px;
$secondaryBorderRadius: 15px;

$boxShadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
